@{
    Layout = "~/Views/Shared/_Badge.cshtml";
}

@section Install {
<p>
    The best way to install DupFinder is via Chocolatey. Open your command line and type:
</p>
<pre>choco install resharper-clt.portable</pre>
}