<div class="jumbotron">
    <h2>Getting started</h2>
    <p class="lead">Get your badges in a few steps</p>
</div>
<h3>Download BadgesSharpCmd</h3>
<p>
    ...
</p>

<h3>Generate a GitHub personal access token</h3>
<p>
    Only users with access to repository can update its the badges, so, we need to know who you are at GitHub.
</p>
<p>
    Go to <a href="https://github.com/settings/tokens">https://github.com/settings/tokens</a> and "Generate new token", if you want generate badges to public repositories, only check "user:email". If you want to generate badges to private repositories check "repo" option too.
</p>
<img src="~/Content/Images/GitHubPersonalAccesToken.png" />
<p>
    BadgesSharp will use this token only to validate if you has push permissions on the repository. Just it.
</p>


<h3>Choose the badge</h3>
Currently we support the follow badges: DupFinder, FxCop, StyleCop and Plato.
