<div class="jumbotron">
    <h1>BadgesSharp</h1>
    <p class="lead">BadgesSharp is a free service to generate badges that need some kind of input and processing before you can display them on GitHub repositories.</p>
    <img src="/Badges/generated/total" />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Take a look on our <a href="Docs/GettingStarted">Getting Started</a> guide and a get your badge in a few steps.
    </div>
    <div class="col-md-4">
        <h2>Badges</h2>
        <p>Use your <a href="Docs/DupFinder">DupFinder</a>, <a href="Docs/FxCop">FxCop</a>, <a href="Docs/PlatoMaintainability">Plato</a> and <a href="Docs/StyleCop">StyleCop</a> result reports to generate badges from your CI</p>
    </div>
    <div class="col-md-4">
        <h2>Where is the badge I want?</h2>
        <p>BadgesSharp does not have the badge do you want? <a href="http://github.com/giacomelli/BadgesSharp">Fork it</a> on GitHub.</p>
    </div>
</div>
