@{
    Layout = "~/Views/Shared/_Badge.cshtml";
}

@section Install {
<p>
    A good option to run StyleCop via command line is the StyleCopCmd project: <a href="https://github.com/inorton/StyleCopCmd">https://github.com/inorton/StyleCopCmd</a>
</p>
<p> 
	Download and put all files inside your project folder.
</p>
}